<script>
	$( document ).ready(function(){	
		$(".friends").click(function(){
			showchatting($(this).text().trim());
		});
	});
</script>
<div style="margin:15px;">
	<h3>Unread</h3>
	<span><%= link_to("Mark all as read", '/markread') %></span>
	<% count = 0 %>
	<% @chnls.each do |ch| %>
		<% if (current_user.username + current_user.username) > ch.channel_name %>
			<% receiver = ch.channel_name[0..(ch.channel_name.bytesize - current_user.username.bytesize - 1)] %>
			<% if ch.first_side > 0 %>
				<% count = count + 1 %>
				<div class="friends"><%=receiver%></div>
			<% end %>
		<% else %>		
			<% receiver = ch.channel_name[(current_user.username.bytesize)..(ch.channel_name.bytesize - 1)] %>
			<% if ch.second_side > 0 %>
				<% count = count + 1 %>
				<div class="friends"><%=receiver%></div>
			<% end %>
		<% end %>
	<% end %>

	<br />
	<h3>All Messages </h3>
	<% if @chnls.first %>
		<% @chnls.each do |ch| %>
			<% if (current_user.username+current_user.username) > ch.channel_name %>
				<% receiver = ch.channel_name[0..(ch.channel_name.bytesize - current_user.username.bytesize - 1)] %>
				<div class="friends"><%=receiver%></div>
			<% else %>
				<% receiver = ch.channel_name[(current_user.username.bytesize)..(ch.channel_name.bytesize - 1)] %>
				<div class="friends"><%=receiver%></div>
			<% end %>
		<% end %>
	<% else %>
		<div>You haven't talked to anyone yet.</div>
	<% end %>

</div>