<!DOCTYPE html>
<html>
<head>
	<title>Tebook</title>
	<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css" rel="stylesheet">
	<%= stylesheet_link_tag('commonbg', :media => 'all') %>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<%= javascript_include_tag 'jquery_ujs'%>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://hacks.bluesmoon.info/strftime/strftime-min.js"></script>
	<%= javascript_include_tag "private_pub" %>
	<%= csrf_meta_tags %>

<style>
	#toplink {
		margin-top:50px;
		font-size: 1.2em;
		font-weight: bold;
		margin-left: 15px;
	}
	#chatlist{
		border-right: 1px #eeeeee solid;
		border-top: 1px #eeeeee solid;
		height: 82vh;
		float:left;
		width:220px;
		overflow-x:hidden;
		overflow-y:auto;
	}
	#chatting{
		margin: 15px;
		overflow: hidden;
	}
	#imgdiv, #smallimgdiv {
		text-align:center;
		margin:10px;
	}
</style>
<script>
	$( document ).ready(function(){	
		getchatlist('0');
		<% if @receiver && !@receiver.blank? %>
			showchatting("<%=@receiver%>");
		<% end %>
		setInterval( function() { getchatlist('1'); }, 30000);
	});

	function getchatlist(num){
		$.ajax({
		url:  "/chatlist?remote="+ num,
		type: "GET",
		dataType: 'html'
		}).success(function(data){			
			$("#chatlist").html(data);
		});
	}

	function showchatting(receiver){
		$("#chatting").empty();
		var div = $('<div></div>');
		div.attr("id","imgdiv")
		$('#chatting').append(div);
		var img = $('<img id="largeloading">');
		img.attr('src', "/assets/largeloading.gif");
		$('#imgdiv').append(img);
		$.ajax({
		url:  "/messages?receiver=" + receiver,
		type: "GET",
		dataType: 'html'
		}).success(function(data){			
			$("#chatting").html(data);
		}).fail(function (jqXHR, textStatus) {
			$("#chatting").html("Ooops... Error occurs. Try to refresh the page.");
		});
	}
	function setread(){
		$("#chatlist").empty();
		var div = $('<div></div>');
		div.attr("id","smallimgdiv")
		$("#chatlist").append(div);
		var img = $('<img id="largeloading">');
		img.attr('src', "/assets/largeloading.gif");
		$('#smallimgdiv').append(img);
		$.ajax({
		url:  "/markread",
		type: "GET",
		dataType: 'json'
		}).success(function(data){
			if (data.success == 1) {
				getchatlist(1);
			} else {
				$("#chatlist").html("Ooops... Error occurs. Try to refresh the page.");
			}
		}).fail(function (jqXHR, textStatus) {
			$("#chatlist").html("Ooops... Error occurs. Try to refresh the page.");
		});
	}

</script>
</head>
<body>
	<%= render template: "layouts/bar" %>
		<div id="toplink">
			<%= link_to("Home", root_url) %>
			<a href="javascript:history.back(-1)">Back </a>
		</div>
<div id="chatoverall">
	<div id="chatlist" style="">
	</div>

	<div id="chatting">
		
	</div>
</div>
</body>


</html>