<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tebook</title>

	<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css" rel="stylesheet">
	<%= stylesheet_link_tag('index', :media => 'all') %>

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>
	<%= csrf_meta_tags %>

	<script type="text/javascript">
		function openWin(sWindowURL,sWindowName,iWidth,iHeight)
		{
			if (iWidth > screen.width) {
				iWidth = screen.width * .75;
			}
			if (iHeight > screen.height) {
				iHeight = screen.height * .85;
			}

			popupWindow = open
					(   sWindowURL,
						sWindowName,
						"resizable=no"
							+   ",scrollbars=yes"
							+   ",toolbar=no"
							+   ",location=no"
							+   ",directories=no"
							+   ",status=no"
							+   ",menubar=no"
							+   ",width=" + iWidth
							+   ",height=" + iHeight
							+   ",top="+((screen.height-iHeight)/2)
							+   ",left="+((screen.width-iWidth)/2)
					);
		}
	</script>
</head>
<body class="landing-page">

	<%= render template: "layouts/bar" %>
	<% if !flash[:notice].blank? %>
		<div class = "notice">
			<%= flash[:notice] %>
		</div>
	<% end %>
				<div class="col-lg-12" id="main-box">
					<div class="intro-message">
						<h1>Tebook</h1>
						<h3>Design.Simple</h3>
						<hr class="intro-divider">

	<div class="jumbotron center" id="main-search-area">
		<%= form_for(:course, :url=>'find', html:{class: "form-signin", role: "search"}) do |f| %>
			<div class="form-group nav-search">
		 		<%= f.text_field(:department, :placeholder => "Curriculum Abbreviation(Eg: MATH)", class: "form-control", id: "main-search-department-field", value: session[:last_dep]) %>
				<a style="color:white;" href="http://www.washington.edu/students/reg/curricabbr.html" onclick="javascript:openWin('http://www.washington.edu/students/reg/curricabbr.html','list',540,400);return false">Curriculum Abbreviation List</a>
				<%= f.text_field(:class, :placeholder => "Course Number", class: "form-control", id: "main-search-class-field", value: session[:last_class]) %>
			</div>
			<%= submit_tag("Search", id: "main-search-find-btn", class: "btn btn-custom-light-blue")%>
		<% end %>
	</div></div></div>

	<!-- SignUp button Form -->
	<% if !user_signed_in? %>
		<% if devise_mapping.registerable? && controller_name != 'registrations' %>
		  <%= form_tag(new_registration_path(resource_name), :method => "get") do %>
				<button type="submit" class="btn-sm btn-info btn-custom-light-orange" id="signup-btn">SignUp</button>
		  <% end %>
		<% end %>
	<% end %>
	<%= render template: "layouts/foot" %>
</body>
</html>
