<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mysterion</title>


<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css" rel="stylesheet">
<%= stylesheet_link_tag('index', :media => 'all') %>

  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
       <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="#"><strong>Mysterion</strong></a>
 </div>

 <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
      <!--  <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
   </ul>


      <!-- Preference Dropdown -->
      <ul class="nav navbar-nav navbar-right">

             <li class="dropdown">
		<% if user_signed_in? %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Preference <b class="caret"></b></a>
                    <ul class="dropdown-menu">                
                    <li><a href="#">Personal Settings</a></li>
                    <li class="divider"></li>
               	    <li><%= link_to('Logout', destroy_user_session_path) %></li>
                <% else %>
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                    <ul class="dropdown-menu"> 
                    <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                      <li><%= link_to "Forgot your password?", new_password_path(resource_name) %></li>
                    <% end %>

                    <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                      <li><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></li>
                    <% end %>

                    <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
                      <li><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></li>
                    <% end %>
                <% end %>
                </ul>
            </li>
        </ul>


<% if !flash[:notice].blank? %>
<div class = "notice">
        <%= flash[:notice] %>
</div>
<% end %>
<% if user_signed_in? %>
  <div class = "login_info">
    <%= current_user.email %>
  </div>
<% end %>



<% if !user_signed_in? %>
        <!-- Login Form -->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: "navbar-form navbar-right", role: "form"}) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control", id: "exampleInputEmail2"%>
      </div>

      <div class="form-group">
          <%= f.password_field :password,placeholder: "password", autocomplete: "off", class: "form-control", id: "exampleInputPassword2" %>
      </div>

        <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        </div>
        <% end -%>

        <%= f.submit "Sign in" , class: "btn-sm btn-default" %>
      <% end %>
 <% end %>


</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<!-- Main BackGround Image  -->

<img src="http://cdn8.openculture.com/wp-content/uploads/2014/04/intelligent-books-to-read.jpg" class="img-responsive" alt="Responsive image" id="main-background-img">

<!-- Main Search Center -->
<div class="jumbotron center" id="main-search-area">
 <%= form_for(:course, :url=>{:controller =>'GetBook', :action => 'read'}, html:{class: "form-signin", role: "search"}) do |f| %>
  <div class="form-group nav-search">
  <%= f.text_field(:department, :placeholder => "Department", class: "form-control", id: "main-search-department-field", value: cookies[:last_dep]) %>
  <%= f.text_field(:class, :placeholder => "Class", class: "form-control", id: "main-search-class-field", value: cookies[:last_class]) %>
   </div>

  <%= submit_tag("Find", id: "main-search-find-btn", class: "btn btn-custom-light-blue", :name => 'find')%>
   <%= submit_tag("Post", id: "main-search-post-btn", class: "btn btn-custom-light-orange", :name => 'post') %>
<% end %>
</div>

<!-- SignUp button Form -->
<% if !user_signed_in? %>
    <% if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= form_tag({:controller => new_registration_path(resource_name)}, :method => "get") do %>                   
              
                    <button type="submit" class="btn-sm btn-info" id="signup-btn">SignUp</button>
              <% end %>
    <% end %>
                    

<% end %>
</body>
</html>
