<!DOCTYPE html>
<html>
<head>
	<title>Personal Information</title>
<script>
window.onload = function(){
	var unlist = document.querySelectorAll(".unlist");
	for(var i = 0; i < unlist.length; i++){
		unlist[i].onclick = confirmunlist;
	}
	var del = document.querySelectorAll(".delete");
	for(var i = 0; i < del.length; i++){
		del[i].onclick = confirmdelete;
	}
}

function confirmunlist(evt){
	if (!confirm('Are you sure you want to unlist this book?')) {
		evt.preventDefault();   		
	}	 	
}
function confirmdelete(evt){
	if (!confirm('Are you sure you want to delete this book?')) {
		evt.preventDefault();   		
	}	 	
}
</script>
</head>

<body>
<%= link_to("Home", root_url) %>

<% if !flash[:editbookmessage].blank? %>
<div class = "notice">
        <%= flash[:editbookmessage] %>
</div>
<% end %>

<h1>Personal Information</h1>
Email: <%= current_user.email %>
<br />
Username: <%= current_user.username %>
<br />
Messages(unread/total): <a href="/chatlist"><%= @msgc ? @msgc.unread : 0 %>/<%= @msgc ? @msgc.count : 0 %></a>
<br />
Books you owned: <%= @Userbook.own %>
<% if (@Userbook.own > 0) %>
	<ol>
	<% for i in 1..@Userbook.own %>
		<% owncolumn = "ownedbook" + i.to_s %>
		<li><a href="<%=root_url%>show?book=<%=@Userbook.read_attribute(owncolumn.to_sym)%>"><%=@Userbook.read_attribute(owncolumn.to_sym)%></a>
		<br />
		<a href="<%=root_url%>traded?book=<%=@Userbook.read_attribute(owncolumn.to_sym)%>">Traded</a>
		<a class="unlist" href="<%=root_url%>unlist?book=<%=@Userbook.read_attribute(owncolumn.to_sym)%>">Unlist</a></li>
	<% end %>
	</ol>
	
<% end %>
<br />
Books traded: <%= @Tradedbook.traded %>
<% if (@Tradedbook.traded > 0) %>
	<ol>
	<% for i in 1..@Tradedbook.traded %>
		<% tradedcolumn = "tradedbook" + i.to_s %>
		<li><a href="<%=root_url%>show?book=<%=@Tradedbook.read_attribute(tradedcolumn.to_sym)%>"><%=@Tradedbook.read_attribute(tradedcolumn.to_sym)%></a></li>
		<a href="<%=root_url%>resume?book=<%=@Tradedbook.read_attribute(tradedcolumn.to_sym)%>">Back on sale</a>
		<a class="delete" href="<%=root_url%>delete?book=<%=@Tradedbook.read_attribute(tradedcolumn.to_sym)%>">Delete</a></li>
	<% end %>
	</ol>	
<% end %>

<br />

<%= link_to("Change Password", edit_user_registration_path) %>
</body>

</html>