<!DOCTYPE html>
<html>
<head>
	<title>Personal Information</title>
<script>
window.onload = function(){
	document.getElementById("cancelbutton").onclick = confirmcancel;
}

function confirmcancel(evt){
	if (!confirm('Are you sure you cancel your account? Everything will lost.')) {
		evt.preventDefault();   		
	}	 	
}
</script>
</head>

<body>
<%= link_to("Home", root_url) %>
<h1>Personal Information</h1>
Email: <%= current_user.email %>
<br />
Books you owned: <%= @Userbook.own %>
<% if (@Userbook.own > 0) %>
	<ol>
	<% for i in 1..@Userbook.own %>
		<% owncolumn = "ownedbook" + i.to_s %>
		<li><a href="<%=root_url%>show?book=<%=@Userbook.read_attribute(owncolumn.to_sym)%>"><%=@Userbook.read_attribute(owncolumn.to_sym)%></a></li>
	<% end %>
	</ol>
	
<% end %>

Books you borrowed: <%= @Userbook.borrow %>
<% if (@Userbook.borrow > 0) %>
	<ol>
	<% for i in 1..@Userbook.borrow %>
		<% borrowcolumn = "borrowedbook" + i.to_s %>
		<li><%= @Userbook.read_attribute(borrowcolumn.to_sym)%></li>
	<% end %>
	</ol>	
<% end %>

<br />

<%= link_to("Change Password", edit_user_registration_path) %>

<h3>Disable my account</h3>

<p><%= button_to "Disable my account", registration_path(resource_name), method: :delete, id: 'cancelbutton' %></p>

</body>

</html>