<!DOCTYPE html>
<html>
<head>
	<title>Personal Information</title>
</head>

<body>
<%= link_to("Home", root_url) %>
<h1>Personal Information</h1>
Email: <%= current_user.email %>
<br />
Books you owned: <%= @Userbook.own %>
<% if (@Userbook.own > 0) %>
	<ol>
	<% for i in 1..@Userbook.own %>
		<% owncolumn = "ownedbook" + i.to_s %>
		<li><%= link_to(@Userbook.read_attribute(owncolumn.to_sym), {:controller => 'GetBook',
										 :action => 'show',
										 :book => @Userbook.read_attribute(owncolumn.to_sym)}) %></li>
	<% end %>
	</ol>
	
<% end %>

Books you borrowed: <%= @Userbook.borrow %>
<% if (@Userbook.borrow > 0) %>
	<ol>
	<% for i in 1..@Userbook.borrow %>
		<% borrowcolumn = "borrowedbook" + i.to_s %>
		<li><%= @Userbook.read_attribute(borrowcolumn.to_sym)%></li>
	<% end %>
	</ol>	
<% end %>

<br />

<%= link_to("Change Password", edit_user_registration_path) %>

<h3>Disable my account</h3>

<p><%= button_to "Disable my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

</body>

</html>