<%= link_to("Home", root_url) %>
<a href="javascript:history.back(-1)">Back </a>
<% if !flash[:postmessage].blank? %>
<div class = "notice">
        <%= flash[:postmessage] %>
</div>
<% end %>

<h1>Search Result for <%= @courseInfo.course_name %></h1>
<% @courseInfo.attributes.each do |attr_name, attr_value| %>
<ol>
  <% if attr_name != "id" && attr_name != "course_name" && attr_name != "number" && attr_name != "created_at" && attr_name != "updated_at" && attr_value != nil %>
<li><a href="<%=root_url%>show?book=<%=attr_value%>"><%=attr_value%></a>
  <a href="<%=root_url%>postto?course=<%=@courseInfo.course_name%>&book=<%=attr_value%>">Post</a></li>
  <% end %>
</ol>
<% end %>