<%= link_to("Home", root_url) %>

<% if !flash[:postmessage].blank? %>
<div class = "notice">
        <%= flash[:postmessage] %>
</div>
<% end %>

<h1>Search Result for <%= @courseInfo.course_name %></h1>
<% @courseInfo.attributes.each do |attr_name, attr_value| %>
<ol>
  <% if attr_name != "id" && attr_name != "course_name" && attr_name != "number" && attr_name != "created_at" && attr_name != "updated_at" && attr_value != nil %>
<li><%= link_to(attr_value, {:controller => 'GetBook', :action => 'show',:book => attr_value}) %>
  <%= link_to('Post', {:controller => 'GetBook',:action => 'postto',:course => @courseInfo.course_name,:book => attr_value}) %></li>
  <% end %>
</ol>
<% end %>