<!DOCTYPE html>
<html lang="en">
<head>
	<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css" rel="stylesheet">
	<%= stylesheet_link_tag('index', :media => 'all') %>
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<%= csrf_meta_tags %>
</head>

<body>
	<%= render template: "layouts/bar" %>

	<div style="width:90%;margin:auto">
		<br />
		<%= link_to("Home", root_url) %>
		<a href="javascript:history.back(-1)">Back </a>
		<% if !flash[:postmessage].blank? %>
			<br />
			<div class = "notice">
				<%= flash[:postmessage] %>
			</div>
			<br />
		<% end %>

		<h1>Search Result for <%= @course.course_name %></h1>
		<ol>
			<% @course.attributes.each do |attr_name, attr_value| %>
				<% if attr_name != "id" && attr_name != "course_name" && attr_name != "number" && attr_value != nil %>
					<li><a href="<%=root_url%>show?book=<%=attr_value%>"><%=attr_value%></a>
					<a href="<%=root_url%>postto?book=<%=attr_value%>">Post</a></li>
				<% end %>
			<% end %>
		</ol>
	</div>
</body>
</html>