<!DOCTYPE html>
<html lang="en">
<head>
	<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css" rel="stylesheet">
	<%= stylesheet_link_tag('index', :media => 'all') %>
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<%= csrf_meta_tags %>
</head>

<body>
	<%= render template: "layouts/bar" %>
	<div style="width:90%;margin:auto">
		<br />

		<%= link_to("Home", root_url) %>
		<a href="javascript:history.back(-1)">Back </a>
		<% if @bookinfo.number > 0 %>
			<h1><%=@bookinfo.book_title %></h1>
			<div>Author: <%= @bookinfo.author %></div>
			<div>
				<% if @bookinfo.course_name.split(',').count > 1 %>
					Courses: 
				<% else %>
					Course:
				<% end %>

				<% @bookinfo.course_name.split(',').each do |course| %>
					<a href="<%=root_url%>find?coursename=<%=course%>"><%=course%></a>
				<% end %>
			</div>
			<% if user_signed_in? %>
				<a href="<%=root_url%>postto?book=<%=@bookinfo.book_title%>">Post</a>
			<% end %>
			<% if @bookinfo.number == 1 %>
				<% has = 'has' %>
			<% else %>
				<% has = 'have' %>
			<% end %>
					<h2><%= pluralize(@bookinfo.number, 'person') %> <%= has %> the book</h2>
			<% if user_signed_in? %>
				<div>Chat with them:</div>
				<div>
					<% @book.each do |bk| %>
						<% if bk.username != current_user.username%>
							<% if bk.msgcount.last_update > 2.minutes.ago %>
								<%= image_tag('online.png', size:"12x12") %>
							<% else %>
								<%= image_tag('offline.png', size:"12x12") %>
							<% end %>
							<a href="<%=root_url%>messages?receiver=<%=bk.username%>"><%=bk.username%></a>
							&nbsp;	
						<% end %>			
					<% end %>
				</div>
			<% else %>
				<div><%=link_to('Sign in', :controller => new_session_path(resource_name)) %> or <%=link_to('Sign up', :controller => new_registration_path(resource_name)) %> to see who has it.</div>
			<% end %>
		<% else %>
			<h1><%=@bookinfo.book_title%></h1>
			<div>Sorry, no one has posted this book yet.</div>
			<% if !user_signed_in? %>
				<div><%=link_to('Sign in', :controller => new_session_path(resource_name)) %> or <%=link_to('Sign up', :controller => new_registration_path(resource_name)) %> to post it.</div>
			<% else %>
				<div>Do you want to <a href="<%=root_url%>postto?book=<%=@bookinfo.book_title%>">post</a> it?</div>
			<% end %>
		<% end %>
	</div>
</body>
</html>