<%= link_to("Home", root_url) %>
<a href="javascript:history.back(-1)">Back </a>
<% if @bookinfo %>
	<h1><%=@bookinfo.book_title %></h1>
	<div>Author: <%= @bookinfo.author %></div>
	<div>Course: <%=link_to(@bookinfo.course_name, {:controller =>'GetBook', :action => 'find', :coursename => @bookinfo.course_name}) %> </div>
	<%= link_to('Post', {:controller => 'GetBook',:action => 'postto',:course => @bookinfo.course_name,:book => @bookinfo.book_title}) %></li>
	<% if @bookinfo.number > 0 %>
		<% if @bookinfo.number == 1 %>
			<% @has = 'has' %>
		<% else %>
			<% @has = 'have' %>
		<% end %>
		<h2><%= pluralize(@bookinfo.number, 'person') %> <%= @has %> the book</h2>
		<div>
			<% for i in 1..@bookinfo.number %>
				<% ownuser = "user" + i.to_s %>
				<%= @bookinfo.read_attribute(ownuser.to_sym)%> &nbsp;				
			<% end %>
		</div>
	<% end %>
<% end %>