<!DOCTYPE html>
<html>
<head>
	<title>User Management</title>
	<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css" rel="stylesheet">    
	<%= stylesheet_link_tag('formgroup', :media => 'all') %>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>

</head>
<body>
	<%= render template: "layouts/bar" %>
	<h1 style="text-align: center;">User Management</h1>
	<div style="text-align:center;margin: 5px;"><a href="manage">Back to Dashboard</a></div>
	<% if !flash[:notice].blank? %>
		<div id="message">
			<%= flash[:notice] %>
		</div>
	<% end %>

<form action="/usermanage">
<div class="option1"><%=50*(@page-1)+1%> - <%=User.count < 50*(@page) ? User.count : 50*(@page)%> out of <%=User.count%> Users | Page <%=@page%>/<%=User.count/50+(User.count%50==0 ? 0 : 1)%><span style="margin: 5px;">Goto Page <input type="number" name="page" min="1" style="width:40px;"></span><span><input type="submit" value="Go"></span></div>
</form>

<form action="/userdetails">
<div class="option1">
	<input type="search" name="username" placeholder="Username" style="width: 150px;">
	<input type="submit" value="Search">
</div>
</form>

<table border=1 style="width:80%;margin:auto;border-collapse:collapse;text-align: center;">
<tr>
  <th>ID</th>
  <th>Email</th> 
  <th>Username</th>
</tr>
<% @users.each do |u| %>
	<tr>
		<td><a href="/userdetails?id=<%=u.id%>"><%=u.id%></a></td>
		<td><a href="/userdetails?id=<%=u.id%>"><%=u.email%></a></td>
		<td><a href="/userdetails?id=<%=u.id%>"><%=u.username%></a></td>
	</tr>
<% end %>
</table>

<%= render template: "layouts/foot" %>
</body>
</html>