<!DOCTYPE html>
<html>
<head>
	<title>User Management</title>
	<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css" rel="stylesheet">    
	<%= stylesheet_link_tag('formgroup', :media => 'all') %>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js"></script>

</head>
<body>
	<%= render template: "layouts/bar" %>
	<h1 style="text-align: center;">User Management</h1>
	<div style="text-align:center;margin: 5px;"><a href="manage">Back to Dashboard</a></div>
	<% if !flash[:notice].blank? %>
		<div id="message">
			<%= flash[:notice] %>
		</div>
	<% end %>
<form action="/usermanage">
<div class="option1"><%=50*(@page-1)+1%> - <%=User.count < 50*(@page) ? User.count : 50*(@page)%> out of <%=User.count%> Users | Page <%=@page%>/<%=User.count/50+(User.count%50==0 ? 0 : 1)%><span style="margin: 5px;">Goto Page <input type="number" name="page" min="1" style="width:40px;"></span><span><input type="submit" value="Go"></span></div>
</form>
<table border=1 style="width:80%;margin:auto;border-collapse:collapse;text-align: center;">
<tr>
  <th>ID</th>
  <th>Email</th> 
  <th>Username</th>
  <th>Signin count</th>
  <th>Current signin</th>
  <th>Last signin</th>
  <th>Current IP</th>
  <th>Last IP</th>
  <th>Books posted</th>
  <th>Books borrowed</th>
  <th>Messages</th>
</tr>
<% @users.each do |u| %>
	<tr>
		<td><%=u.id%></td>
		<td><%=u.email%></td>
		<td><%=u.username%></td>
		<td><%=u.sign_in_count%></td> 
		<td><%=u.current_sign_in_at%></td>
		<td><%=u.last_sign_in_at%></td>
		<td><%=u.current_sign_in_ip%></td>
		<td><%=u.last_sign_in_ip%></td>
		<% ob = Ownedbook.where(:username => u.username) %>
		<% msgc = Msgcount.where(:username => u.username).first %>
		<% bb = Borrowedbook.where(:username => u.username) %>
		<td><%=ob.count%></td> 
		<td><%=bb.count%></td>
		<td><%=msgc ? msgc.count : 0 %></td>

	</tr>
<% end %>
</table>

<%= render template: "layouts/foot" %>
</body>
</html>