<h1>Chat with <%=params[:receiver].strip%></h1>
<div>Log in as <%=current_user.username%></div>
<br />
<ul id="chat">
  <%= render @messages %>
</ul>

<%= form_for Message.new, :remote => true do |f| %>
  <%= f.text_field :content %>
  <%= f.hidden_field :sender, :value => current_user.username %>
  <%= f.hidden_field :receiver, :value => params[:receiver].strip %>
  <%= f.submit "Send" %>
<% end %>
<%= subscribe_to "/messages/" + @channel %>
