<script>
	$( document ).ready(function(){
		$("#chat").scrollTop($('#chat')[0].scrollHeight);
		convertTime();
		updateAll();
		setInterval(updateAll,30000);
		$("#new_message").submit(function(event) {
			$("#message_content")[0].value = $("#content")[0].value;
			if ($("#message_content")[0].value.trim() != ""){
				$("#loading").show();
			} else {
				event.preventDefault();
				$("#content")[0].value = "";
				$("#content").fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200);
			}
		});

		$(document).keydown(function(event){
			if(event.keyCode==13){
				$("#submitbutton").click();
				return false;
			}
		});		
	});

	function updateAll(){
		$.ajax({
		url:  "/showcount",
		type: "GET",
		dataType: 'json',
		data: {receiver: '<%=params[:receiver].strip%>' }
		}).success(function(data){
			$("#msgct").html(data.count);
			
			if (data.hasOwnProperty("online")){
				if (data.online == 0){
					$("#offline").show();
					$("#online").hide();
				} else {
					$("#offline").hide();
					$("#online").show();
				}
			}
			if (data.count != 0){
				clearInterval(flashing);
				flashing = setInterval(function(){ $("#chatmsg").fadeOut(300).fadeIn(300); },600);
			} else {
				clearInterval(flashing);
			}
		});
	}

	function convertTime(){
		$(".timezone").each(function(){
			$(this).text(new Date($(this).html()).strftime("%I:%M %p"));
			$(this).removeClass("timezone");
		});
	}
</script>

<style>
	body {
		 background-color: rgb(252,252,252);
	}
	.status {
		vertical-align: initial;
	}
	#chat {
		border: 1px solid black;
		min-width:450px;
		height:300px;
		overflow-y: scroll;
		word-wrap: break-word;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#content {
		width: 85%;
		min-width:350px;
		height:50px;
		resize:none;
	}
	#submitbutton {
		vertical-align: top;
		margin-top: 12px;
		float:right;
		margin-right:1.5%;
	}
	.sender {
		color:red;
	}
	.msg {
		color:blue;
	}
	.msgtime {
		float:right;
	}
	.msg_bundle {
		clear:both;
	}
	#chatmain {
		width:85%;
		margin:auto;
		margin-top:10px;
	}
</style>
<div id="chatmain">
	<div style="font-size:20px;min-width:400px;"><%=params[:receiver].strip%><span style="margin:5px;"><%= image_tag('offline.png', size:"12x12", id: "offline", class: "status") %><%= image_tag('online.png', size:"12x12", id: "online", class: "status", :style => "display: none") %></span></div>

	<div id="chat">
		<%= render @messages %>
	</div>

	<%= form_for Message.new, :remote => true do |f| %>
		<div style="min-width:400px;">
			<textarea id="content"></textarea>
			<%= f.hidden_field :content, autofocus: true %>
			<%= f.hidden_field :sender, :value => current_user.username %>
			<%= f.hidden_field :receiver, :value => params[:receiver].strip %>
			<%= f.submit "Send", id: 'submitbutton'%>
			<div><%= image_tag('loading.gif', id: 'loading', size:"20x20", :style => "display: none") %></div>
		</div>
	<% end %>
	<%= subscribe_to "/messages/" + @channel %>
</div>