<!DOCTYPE html>
<html>
<head>
<title>Chat</title>
<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css" rel="stylesheet">
<%= stylesheet_link_tag('index', :media => 'all') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<%= javascript_include_tag "private_pub" %>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script>
<% if user_signed_in? %>
var flashing = null
$( document ).ready(function(){	
	setInterval(updateCount,10000);
	if (<%= @msgc ? @msgc.unread : 0 %> > 0){
		$("#chatmsg").css("background-color", "#FFFFFF");
		flashing = setInterval(function(){ $("#chatmsg").fadeOut(300).fadeIn(300); },600);
	}
});

function updateCount(){
    $.ajax({
    url:  "/showcount",
    type: "GET",
  }).done(function(data){
    $("#msgct").html(data);
    if (data.trim() != "0"){
	clearInterval(flashing);
	$("#chatmsg").css("background-color", "#FFFFFF");
	flashing = setInterval(function(){ $("#chatmsg").fadeOut(300).fadeIn(300); },600);
    } else {
	clearInterval(flashing);
    }
  });
}
<% end %>

$( document ).ready(function(){
	
	$("#loading")[0].hidden = "hidden";
	$("#new_message").submit(function() {
		if ($("#message_content")[0].value.trim() != ""){
			$("#loading")[0].hidden = null;
		} else {
			$("#message_content")[0].value = "";
		}
	});
});
</script>
</head>
<body>

<%= render template: "layouts/bar" %>
<div style="width:90%;margin:auto">
<br />

<%= link_to("Home", root_url) %>
<a href="javascript:history.back(-1)">Back </a>

<h1>Chat with <%=params[:receiver].strip%></h1>
<div>Log in as <%=current_user.username%></div>
<br />
<ul id="chat">
  <%= render @messages %>
</ul>

<%= form_for Message.new, :remote => true do |f| %>
<div>
  <%= f.text_field :content %>
  <%= f.hidden_field :sender, :value => current_user.username %>
  <%= f.hidden_field :receiver, :value => params[:receiver].strip %>
  <%= f.submit "Send"%>
  <%= image_tag('loading.gif', id: 'loading', size:"20x20") %>
</div>
<% end %>
<%= subscribe_to "/messages/" + @channel %>

</div>
</body>

</html>