<!DOCTYPE html>
<html>
<head>
<title>Chat</title>
<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css" rel="stylesheet">
<%= stylesheet_link_tag('index', :media => 'all') %>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<%= javascript_include_tag "private_pub" %>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<script>
$( document ).ready(function(){
	$("#chat").scrollTop($('#chat')[0].scrollHeight);
	$("#loading").hide();
	$("#new_message").submit(function(event) {
		$("#message_content")[0].value = $("#content")[0].value;
		if ($("#message_content")[0].value.trim() != ""){
			$("#loading").show();
		} else {
			event.preventDefault();
			$("#content")[0].value = "";
			$("#content").fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200);
		}
	});

	$(document).keydown(function(event){
		if(event.keyCode==13){
			$("#submitbutton").click();
			return false;
		}
	});

	$("#chat").bind("DOMSubtreeModified",function(){
		$("#chat").scrollTop($('#chat')[0].scrollHeight);
	});
	
});
</script>
<style>
#chat {
border: 1px solid black;
width:400px;
height:300px;
overflow-y: scroll;
margin-top: 10px;
margin-bottom: 10px;
}
#content {
width:350px;
height:50px;
resize:none;
}
#submitbutton {
vertical-align: top;
margin-top: 12px;
}
.sender {
color:red;
}
.msg {
color:blue;
}
.msgtime {
float:right;
}
.msg_bundle {
clear:both;
}
h1 {
margin-top: 10px;
margin-bottom: 10px;
}
</style>
</head>
<body>

<%= render template: "layouts/bar" %>
<div style="width:90%;margin:auto">
<br />

<%= link_to("Home", root_url) %>
<a href="javascript:history.back(-1)">Back </a>

<h1>Chat with <%=params[:receiver].strip%></h1>
<div>Log in as <%=current_user.username%></div>

<div id="chat">
  <%= render @messages %>
</div>

<%= form_for Message.new, :remote => true do |f| %>
<div>
  <textarea id="content"></textarea>
  <%= f.hidden_field :content, autofocus: true %>
  <%= f.hidden_field :sender, :value => current_user.username %>
  <%= f.hidden_field :receiver, :value => params[:receiver].strip %>
  <%= f.submit "Send", id: 'submitbutton'%>
  <%= image_tag('loading.gif', id: 'loading', size:"20x20") %>
</div>
<% end %>
<%= subscribe_to "/messages/" + @channel %>

</div>
</body>

</html>