<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>

<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css" rel="stylesheet">    
<%= stylesheet_link_tag('signup', :media => 'all') %>

<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 
<script type="text/javascript">
$( document ).ready(function(){	
	$("#youremail").focusout(function(){
		if (!new RegExp("@uw.edu$").test($("#youremail")[0].value.trim())){
				$("#message").html( 'Email should end with <strong>"uw.edu"</strong>');
				$("#message").show();
				flash($("#youremail"));
		} else {
			reactivate($("#youremail"));
		}
	});

	$("#username").focusout(function(){
		if ($("#username")[0].value.trim().length < 5 || $("#username")[0].value.trim().length > 20){
				$("#message").html('Username must have 5 to 20 characters');
				$("#message").show();
				flash($("#username"));
                } else {
			reactivate($("#username"));
		}
	});

	$("#user_password").focusout(function(){
		var password = $("#user_password")[0].value;
		var hasUpper = new RegExp("[A-Z]");
		var hasLower = new RegExp("[a-z]");
		var hasNumber = new RegExp("[0-9]");
		if (password.length < 8 || password.length > 20 || !hasUpper.test(password) || !hasLower.test(password) || !hasNumber.test(password)){
			$("#message").html('Your password must be 8 to 20 characters with at least <strong>one digit</strong>, <strong>one lowercase letter</strong> and <strong>one uppercase letter</strong>');
			$("#message").show();
			$("#user_password_confirmation").prop('disabled', true);
			flash($("#user_password"));
		} else {
			reactivate($("#user_password"));
			$("#user_password_confirmation").prop('disabled', false);
			$("#user_password_confirmation").css("background-color", "#FFFFFF");
		}
	});

	$("#user_password_confirmation").focusout(function(){
               if ($("#user_password").val() !== $("#user_password_confirmation").val()) {
				$("#message").html("Password re-entered does not match");
				$("#message").show();
				flash($("#user_password_confirmation"));
		} else {
			reactivate($("#user_password_confirmation"));
		}
	});
});

function flash(obj){
	obj.css("background-color", "#FF9999");
	obj.fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
	$("#submit-button").attr('disabled', 'disabled');
}

function reactivate(obj){
	$("#message").hide();
	$("#submit-button").removeAttr('disabled');
	obj.css("background-color", "#FFFFFF");
}


function openWin(sWindowURL,sWindowName,iWidth,iHeight)
{
	if (iWidth > screen.width) {
		iWidth = screen.width * .75;
	}
	if (iHeight > screen.height) {
		iHeight = screen.height * .85;
	}

	popupWindow = open
			(	sWindowURL,
				sWindowName,
				"resizable=no"
					+	",scrollbars=yes"
					+	",toolbar=no"
					+	",location=no"
					+	",directories=no"
					+	",status=no"
					+	",menubar=no"
					+	",width=" + iWidth
					+	",height=" + iHeight
					+	",top="+((screen.height-iHeight)/2)
					+	",left="+((screen.width-iWidth)/2)
			);
}

</script>

</head>
<body>


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 well well-sm" id="signup-box">
                <legend><a href="#"><i class="glyphicon glyphicon-user"></i></a> Sign up!</legend>



<%= link_to("Home", root_url) %>
<div id="message" hidden="true"> </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{id: "sign-form", class: "form", role: "form"}) do |f| %>
  <%= devise_error_messages! %>
<div class="row">
	  <%= f.email_field :email, placeholder: "Your UW Email", autofocus: true, class: "form-control", id: "youremail",  :required => true %>	
	<%= f.text_field :username, placeholder: "Username", class: "form-control", id: "username",  :required => true %>
	    <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "form-control",  :required => true %>

	    <%= f.password_field :password_confirmation, autocomplete: "off" , :placeholder => "Re-enter Password", class: "form-control",  :required => true %>
</div>

		 <label><input type="checkbox" id="agree" required> I agree with the <a href="terms" onclick="javascript:openWin('terms','terms',540,400);return false">Terms and Conditions</a>. </input></label>

	  <div><%= f.submit "Sign up" ,id: "submit-button", class: "btn btn-block btn-custom-light-blue" %></div>
<% end %>

<%= render "devise/shared/links" %>

    </div>
</div>
</div>


</body>
</html>



