<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>

<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css" rel="stylesheet">    
<%= stylesheet_link_tag('signup', :media => 'all') %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript">
	window.onload = function() {
		document.getElementById("youremail").onblur = validemail;
		document.getElementById("username").onblur = validusername;
		document.querySelector("#user_password").onblur = validpassword;
		document.querySelector("#user_password_confirmation").onblur = reenterpassword;
	};


	function validemail(){
		var msg = document.getElementById("message");
		var email = document.getElementById("youremail").value.trim();
                var emailpatt = new RegExp("@uw.edu$");
		if (!emailpatt.test(email)){
				msg.innerHTML = 'Email should end with <strong>"uw.edu"</strong>';
				msg.hidden = false;
				$("#youremail").css("background-color", "#FF9999");
				$("#youremail").fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
				$("#submit-button").attr('disabled', 'disabled');
                } else {
			msg.hidden = true;
                        $("#submit-button").removeAttr('disabled');
                        $("#youremail").css("background-color", "#FFFFFF");
		}
	}
	
	function validusername(){
		var msg = document.getElementById("message");
		var name = document.getElementById("username").value.trim();
		if (name.length < 5 || name.length > 20){
				msg.innerHTML = 'Username must have 5 to 20 characters';
				msg.hidden = false;
				$("#username").css("background-color", "#FF9999");
				$("#username").fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
				$("#submit-button").attr('disabled', 'disabled');
                } else {
			msg.hidden = true;
                        $("#submit-button").removeAttr('disabled');
                        $("#username").css("background-color", "#FFFFFF");
		}
	}	

	function validpassword(){
		var msg = document.getElementById("message");
		var password = document.querySelector("#user_password").value;
		var hasUpper = new RegExp("[A-Z]");
		var hasLower = new RegExp("[a-z]");
		var hasNumber = new RegExp("[0-9]");
		if (password.length < 8 || password.length > 20 || !hasUpper.test(password) || !hasLower.test(password) || !hasNumber.test(password)){
			msg.innerHTML = 'Your password must be 8 to 20 characters with at least <br/> <strong>one digit</strong><br/> <strong>one lowercase letter</strong> <br/> <strong>one uppercase letter</strong>';
			msg.hidden = false;
			$("#user_password_confirmation").prop('disabled', true);
                   $("#user_password").css("background-color", "#FF9999");
                   $("#user_password").fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
                   $("#submit-button").attr('disabled', 'disabled');
		} else {
			msg.hidden = true;
			$("#user_password_confirmation").prop('disabled', false);
			$("#submit-button").removeAttr('disabled');
			$("#user_password").css("background-color", "#FFFFFF");
			$("#user_password_confirmation").css("background-color", "#FFFFFF");
		}
	}

        function reenterpassword(){
		var msg = document.getElementById("message")
               if ($("#user_password").val() !== $("#user_password_confirmation").val()) {
				msg.innerHTML = "Password re-entered does not match";
				msg.hidden = false;
				$("#user_password_confirmation").css("background-color", "#FF9999");
				$("#user_password_confirmation").fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
				$("#submit-button").attr('disabled', 'disabled');
               } else {
			msg.hidden = true;
			$("#submit-button").removeAttr('disabled');
			$("#user_password_confirmation").css("background-color", "#FFFFFF");
                }
        }

function openWin(sWindowURL,sWindowName,iWidth,iHeight)
{
	if (iWidth > screen.width) {
		iWidth = screen.width * .75;
	}
	if (iHeight > screen.height) {
		iHeight = screen.height * .85;
	}

	popupWindow = open
			(	sWindowURL,
				sWindowName,
				"resizable=no"
					+	",scrollbars=yes"
					+	",toolbar=no"
					+	",location=no"
					+	",directories=no"
					+	",status=no"
					+	",menubar=no"
					+	",width=" + iWidth
					+	",height=" + iHeight
					+	",top="+((screen.height-iHeight)/2)
					+	",left="+((screen.width-iWidth)/2)
			);
}

</script>

</head>
<body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 well well-sm" id="signup-box">
                <legend><a href="#"><i class="glyphicon glyphicon-user"></i></a> Sign up!</legend>



<%= link_to("Home", root_url) %>
<div id="message" hidden="true"> </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{id: "sign-form", class: "form", role: "form"}) do |f| %>
  <%= devise_error_messages! %>
<div class="row">
	  <%= f.email_field :email, placeholder: "Your UW Email", autofocus: true, class: "form-control", id: "youremail",  :required => true %>	
	<%= f.text_field :username, placeholder: "Username", class: "form-control", id: "username",  :required => true %>
	    <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "form-control",  :required => true %>

	    <%= f.password_field :password_confirmation, autocomplete: "off" , :placeholder => "Re-enter Password", class: "form-control",  :required => true %>
</div>

		 <label><input type="checkbox" id="agree" required> I agree with the <a href="terms" onclick="javascript:openWin('terms','terms',540,400);return false">Terms and Conditions</a>. </input></label>

	  <div><%= f.submit "Sign up" ,id: "submit-button", class: "btn btn-block btn-custom-light-blue" %></div>
<% end %>

<%= render "devise/shared/links" %>

    </div>
</div>
</div>


</body>
</html>



